body {
  margin: 0;
  padding: 0;
  background-color: #f34949;
}

/* HEADER */

header.cabecalho {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: #fff;
}

header.cabecalho ul {
  list-style: none;
  margin: 120px;
}

header.cabecalho ul li {
  display: inline;
  padding: 10px;
}

header.cabecalho ul li a {
  text-decoration: none;
  display: inline;
  color: #7c7c7c;
  font-size: 14px;
  font-family: Aleo;
}

header.cabecalho ul li a:hover {
  text-decoration: underline;
}

.logo {
  margin-left: 10%;
}

/* SLIDE */

.slide {
  height: 580px;
  background-image: url("../img/slide.png");
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide strong {
  font-family: WCManoNegra;
  font-size: 80px;
  margin-bottom: 0;
}

.slide small {
  font-size:15px; 
  font-family: Aleo;
  margin-top: -5px;
}

/* MENU */

.menu {
  height: auto;
  background-color: #fff;
  margin-top: 5px;
  justify-content: center;

}

.menu .image {
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

}

.menu_container {
  display: flex;
  margin-top: 3%;
  align-content: flex-end;
  padding-left: 15%;
}

.menu_container .c-l {
  flex: 1;
  font-family: Aleo;
  /*  background-color: aquamarine;*/
}

.menu_container .c-r {
  flex: 1;
  font-family: Aleo;
  /* background-color: royalblue;*/
  justify-content: center;

}

.menu_destaque {
  margin-top: 10%;
  font-family: Aleo;
  font-size: 25px;
  height: auto;

}

.card_group {
  display: flex;
  font-family: Aleo;
  font-size: 15px;
  justify-content: center;
}

.card {
  margin-left: 1%;
  margin-top: 3%;
}

.galeria {
  margin: 0 auto;
}

.galeria .image_group {
  float: left;
  margin-right: 0;
}

.galeria .image_group2 {
  float: left;
  margin-left: 0;
}

.image-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

b {
  font-family: Aleo;
  font-size: 25px;
}

/* FOOTER */

footer {
  background-color: #3b3b3b;
  color: #fff;
  font-family: arial;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 18px;
  line-height: 2;
}

.middle {
  color: #ebebeb;
  font-size: 15px;
  font-family: Aleo;
}

footer .ar1 {
  flex: 1;
}

footer .ar2 {
  flex: 1;
}

footer .ar3 {
  flex: 1;
}

footer .ar4 {
  flex: 1;
}

/* SUPPORT */

/* FONTS */

@font-face {
  font-family: Aleo;
  src: url('../fonts/aleo-regular-webfont.woff');
}

@font-face {
  font-family: WCManoNegra;
  src: url('../fonts/wcmanonegrabta-webfont.woff');
}

/* MEDIAS */

@media(max-width:425px) {

  header.cabecalho ul {
    list-style: none;
    margin: 20px;
  }

}

@media(max-width:600px) {

  .menu_container {
    flex-direction: column;
    height: auto;
  }
  .menu_container .c-r {
    margin-bottom: 10%;
  }
  .menu_container .c-l {

    margin-bottom: 10%;
  }
  .card_group {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  footer {
    height: auto;
    flex-direction: column;
  }
}

@media(max-width:320px) {

  header.cabecalho ul {
    list-style: none;
    margin: 0px;
  }

  .slide strong {
    font-family: WCManoNegra;
    font-size: 25px;
  }

}
