body {
  margin: 0;
  padding: 0;
  background-color: #f34949;
}

/* FONTS */

@font-face {
  font-family: Aleo;
  src:url('../fonts/aleo-regular-webfont.woff');
}

@font-face {
  font-family: WCManoNegra;
  src:url('../fonts/wcmanonegrabta-webfont.woff');
}

/* HEADER */

header.cabecalho {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: #fff;
}

header.cabecalho ul {
  list-style: none;
  margin: 120px;
}

header.cabecalho ul li {
  display: inline;
  padding: 10px;
}

header.cabecalho ul li a {
  text-decoration: none;
  display: inline;
  color: #7c7c7c;
  font-size: 14px;
  font-family:  Aleo;
}

header.cabecalho ul li a:hover {
  text-decoration: underline;
}

.logo {
  margin-left: 10%;
}

/* SLIDE */

.slide {
  height: 580px;
  background-image: url("../img/slide.png");
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide strong {
  font-family: WCManoNegra;
  font-size: 75px;

}

.slide small {}

/* MENU */

.menu {
  height: 660px;
  background-color: #fff;
  margin-top: 5px;
  display: flex;
}

.menu img {
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}
